<div class="asset-container" [class.with-chart]="settingsService.showCharts" >
    <div>
        <div class="symbol-cell">
            <div>
                <span class="symbol">{{ asset.symbol }}</span>
            </div>
            <div>
                <span class="data-date">{{ dataDate }} <br> ({{ dataDays }}d) </span>
                <div class="actions">
                    <button (click)="fetch()">🔄</button>
                </div>
            </div>
        </div>
        <div *ngIf="settingsService.showTags" class="asset-tags">
            <app-tag *ngFor="let tag of asset.tags" [tag]="tag"></app-tag>
        </div>
        <div *ngIf="settingsService.showDescriptions && asset.description" class="asset-description">
            {{ asset.description }}
        </div>
    </div>

    <highcharts-chart *ngIf="settingsService.showCharts && chartOptions"
                      [Highcharts]="highcharts"
                      [options]="chartOptions"
                      style="height: 100%; display: block;"
    ></highcharts-chart>

    <div *ngFor="let indicator of indicators">
        <app-delta *ngIf="indicator.isPercent; else nonDelta"
                   [delta]="getIndicatorValue(indicator)"
                   [min]="getMinForIndicator(indicator)"
                   [max]="getMaxForIndicator(indicator)"
                   [timespan]="getTimespan(indicator)"
                   [timestamp]="getTimestamp(indicator)"
        ></app-delta>
        <ng-template #nonDelta>
            {{ getIndicatorDisplayValue(indicator) }}
        </ng-template>
    </div>
</div>
