<div class="asset-container" [class.with-chart]="settingsService.showCharts" [class.with-position]="settingsService.showPositions">
    <div>
        <div class="symbol-cell">
            <div>
                <input *ngIf="settingsService.showPositions" [(ngModel)]="positionIndex" (keyup.enter)="changePosition()" class="position" type="number" min="0" >
                <span class="symbol">{{ asset.symbol }}</span> 
            </div>
            <div>
                <span class="data-date">{{ dataDate }} <br> ({{ dataDays }}d) </span>
                <div class="actions">
                    <button (click)="fetch()">🔄</button>
                    <button (click)="remove()">❌</button>
                </div>
            </div>
        </div>
        <div *ngIf="settingsService.showTags" class="asset-tags">
            <app-tag *ngFor="let tag of asset.tags" [tag]="tag"></app-tag>
        </div>
        <div *ngIf="settingsService.showDescriptions && asset.description" class="asset-description">
            {{ asset.description }}
        </div>
    </div>

    <highcharts-chart *ngIf="settingsService.showCharts && chartOptions"
                      [Highcharts]="highcharts"
                      [options]="chartOptions"
                      style="height: 100%; display: block;"
    ></highcharts-chart>

    <div *ngIf="settingsService.showOneYearEstimation">
        <app-delta [delta]="getIndicatorValue(oneYearEstimationIndicator)" 
                   [min]="getMinForIndicator(oneYearEstimationIndicator)"
                   [max]="getMaxForIndicator(oneYearEstimationIndicator)"
        ></app-delta>
    </div>

    <div *ngFor="let indicator of indicators">
        <app-delta *ngIf="indicator.isDelta; else nonDelta" 
                   [delta]="getIndicatorValue(indicator)"
                   [min]="getMinForIndicator(indicator)"
                   [max]="getMaxForIndicator(indicator)"
        ></app-delta>
        <ng-template #nonDelta>
            {{ getIndicatorValueOrNA(indicator) }}
        </ng-template>
    </div>

    <div *ngFor="let timespanIndicator of timespanIndicators" >
        <app-delta [delta]="getIndicatorValue(timespanIndicator)" 
                   [min]="getMinForIndicator(timespanIndicator)"
                   [max]="getMaxForIndicator(timespanIndicator)"
                   [timestamp]="getTimestamp(timespanIndicator.timespan)" 
                   [timespan]="timespanIndicator.timespan"
        ></app-delta>
    </div>
</div>
