.delta-container {
    display: flex;
    flex-direction: column;

    .positive {
        color: green;
    }

    .negative {
        color: red;
    }

    .smol {
        font-size: x-small;
        color: gray;
    }

    .text-center {
        text-align: center;
    }
}
