<div class="delta-container">
    <div *ngIf="deltaPercent !== null; else naPercent" [style.color]="color">  <!-- [class.negative]="deltaPercent < 0" [class.positive]="deltaPercent > 0"> -->
        {{ deltaPercent }} %
    </div>
    <ng-template #naPercent>
        <span class="na-percent-text">n/a</span>
    </ng-template>
    <div *ngIf="settingsService.showDates" class="smol">
        {{ date }}
    </div>
    <div *ngIf="settingsService.showTimespans" class="smol">
        {{ timespan?.displayText }}
    </div>
</div>