
.asset-tag {
    font-size: xx-small;
    padding: 0.25rem;
    margin: 0.5rem 0.1rem;
    background-color: darkblue;
    color: white;
    white-space: nowrap;

    .exclude-toggle,
    .required-toggle {
        display: inline-block;
        padding: 0 0.05rem;
        margin: 0 0.05rem;
    }

    &.disabled {
        background-color: gray;
    }

    &.required {
        background-color: deepskyblue;
    }

    &.excluded .exclude-toggle {
        background-color: red;
        color: white;
    }

    &:hover {
        cursor: pointer;
    }
}
