.main-container {
    margin: 1rem 2rem;

    .options-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: small;

        .timespan-select-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            max-height: 4.5rem;
            max-width: 30vw;
            width: 30vw;
        }

        .chart-settings input[type="number"] {
            width: 3.5rem;
        }
    }

    .actions-container {

        > *:not(:first-child) {
            margin-top: 0.5rem;
        }

        input[type="number"] {
            width: 2rem;
        }

        input[type="text"] {
            width: 4rem;
            margin-right: 0.25rem;
        }
    }

    .header-container {
        margin-top: 1rem;
        position: sticky;
        top: 0px;
        background-color: white;
        z-index: 1000;
    }

    .tags-container {
        margin-top: 1rem;
        
        > button:nth-child(2) {
            margin: 0 0.5rem;
        }
    }
}
