<div class="main-container">

    <div class="options-container">
        <div class="indicators-container">
            <button (click)="clearIndicators()" class="clear-button">Clear All</button>
            <div>
                <div *ngFor="let indicatorGroup of this.indicatorService.availableIndicators; let indicatorSectionIndex = index">
                    <span class="indicator-group-header">
                        <strong>{{ indicatorGroup.title }}</strong>
                        <span (click)="clearIndicatorGroup(indicatorGroup)" class="hover-pointer">&#10005;</span>
                    </span>
                    <div [class]="'indicator-group-list indicator-group-list-' + indicatorGroup.title.toLocaleLowerCase()">
                        <div *ngFor="let indicator of indicatorGroup.indicators; let indicatorIndex = index"
                             class="checkbox-with-label indicator-toggle"
                        >
                            <input type="checkbox"
                                   [id]="'indicator-checkbox-' + indicatorSectionIndex + '-' + indicatorIndex"
                                   [checked]="indicatorService.isActive(indicator)"
                                   (click)="indicatorService.toggleActive(indicator)"
                            >
                            <label [for]="'indicator-checkbox-' + indicatorSectionIndex + '-' + indicatorIndex">{{ indicator.longDescription }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-settings">
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showCharts" id="show-charts-toggle">
                <label for="show-charts-toggle">Show Charts</label>
            </div>
            <div>
                <input type="number" [(ngModel)]="settingsService.chartDays" id="chart-days-input">
                <label for="chart-days-input">Chart Days</label>
            </div>
        </div>
        <div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showDates" id="show-dates-toggle">
                <label for="show-dates-toggle">Show Dates</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showIndicatorNames" id="show-timespans-toggle">
                <label for="show-timespans-toggle">Show Indicator Names</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showSymbolsInAllColumns" id="show-symbols-in-columns-toggle">
                <label for="show-symbols-in-columns-toggle">Show symbols in all columns</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showTags" id="show-tags-toggle">
                <label for="show-tags-toggle">Show Tags</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showDescriptions" id="show-descriptions-toggle">
                <label for="show-descriptions-toggle">Show Descriptions</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.turnOffPercentColors" id="turn-off-percent-colors-toggle">
                <label for="turn-off-percent-colors-toggle">Turn off percent colors</label>
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.turnOffNonPercentColors" id="turn-off-non-percent-colors-toggle">
                <label for="turn-off-non-percent-colors-toggle">Turn off non-percent colors</label>
            </div>
        </div>
    </div>

    <div class="actions-container">
        <div>
            <button (click)="fetch()">fetch</button>
            charts & statistics older than
            <input type="number" [(ngModel)]="fetchDays">
            days
        </div>
        <div>
            <button (click)="fetchFinancials()">fetch</button>
            financials
        </div>
        <div>
            <button (click)="editAssets()">edit</button>
            /
            <button (click)="refreshAssets()">refresh</button>
            assets
        </div>
    </div>

    <div class="tags-container">
        <button (click)="filterStateService.enabledTagsState.enableAllTags()">All</button>
        <button (click)="filterStateService.enabledTagsState.disableAllTags()">None</button>
        <input [(ngModel)]="tagSearchTerm">
        <app-tag *ngFor="let tag of tags" [tag]="tag"></app-tag>
    </div>

    <div class="search-box">
        <input [(ngModel)]="filterStateService.searchTerm"
               autocomplete="off"
               autocapitalize="off"
               spellcheck="false"
        >
        <span class="search-clear" (click)="clearSearchTerm()" >&#10005;</span>
    </div>

    <div *ngIf="!filterStateService.noAssetsHidden" class="hidden-assets-container">
        <div (click)="filterStateService.clearHiddenAssets()" >🚫</div>
        <div *ngFor="let hiddenAsset of filterStateService.hiddenAssets"
             (click)="filterStateService.unhideAsset(hiddenAsset)"
             class="hidden-asset"
        >
            {{ hiddenAsset.symbol }}
        </div>
    </div>

    <div class="header-container"
         [class.with-chart]="settingsService.showCharts"
         cdkDropList
         cdkDropListOrientation="horizontal"
         [cdkDropListData]="indicatorService.activeIndicators"
         (cdkDropListDropped)="headerDropped($event)"
    >
        <div>
            <strong>Symbol ({{ assetCount }})</strong>
        </div>
        <div *ngIf="settingsService.showCharts">
            <strong>Chart</strong>
        </div>
        <div *ngFor="let indicator of indicatorService.activeIndicators"
             (click)="onIndicatorHeaderClick(indicator)"
             class="indicator-header"
             cdkDrag
             [cdkDragData]="indicator"
        >
            <strong>{{ indicator.shortDescription }}</strong>
            <span *ngIf="sortService.sortIndicator === indicator" class="sort-symbol">
                <ng-container *ngIf="sortService.descending; else ascendingTriangle">
                    &#9660;
                </ng-container>
                <ng-template #ascendingTriangle>
                    &#9650;
                </ng-template>
            </span>
        </div>
    </div>

    <app-asset *ngFor="let asset of assets" [asset]="asset"></app-asset>

</div>