<div class="main-container">
    <div class="options-container">
        <div class="timespan-select-container">
            <div *ngFor="let timespan of timespanService.availableTimespans" class="checkbox-with-label">
                <input type="checkbox" [checked]="timespanService.isActive(timespan)"
                    (click)="timespanService.toggleActive(timespan)">
                {{ timespan.displayText }}
            </div>
        </div>
        <div class="chart-settings">
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showCharts">
                Show Charts
            </div>
            <div>
                <input type="number" [(ngModel)]="settingsService.chartDays">
                Chart Days
            </div>
        </div>
        <div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showDates">
                Show Dates
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showTimespans">
                Show Timespans
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showPositions">
                Show Positions
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showTags">
                Show Tags
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showOneYearEstimation">
                Show 1Y Estimation
            </div>
            <div class="checkbox-with-label">
                <input type="checkbox" [(ngModel)]="settingsService.showDescriptions">
                Show Descriptions
            </div>
        </div>
    </div>
    <div class="actions-container">
        <div>
            <button (click)="fetch()">fetch</button>
            older than
            <input type="number" [(ngModel)]="fetchDays">
            days
        </div>
        <div>
            <button (click)="editAssets()">edit</button>
            /
            <button (click)="refreshAssets()">refresh</button>
            assets
        </div>
    </div>
    <div class="tags-container">
        <button (click)="filterService.enableAllTags()">All</button>
        <button (click)="filterService.disableAllTags()">None</button>
        <app-tag *ngFor="let tag of assetService.getAllUniqueTags()" [tag]="tag"></app-tag>
    </div>
    <div class="search-box">
        <input [(ngModel)]="filterService.searchTerm"> <span class="search-clear" (click)="clearSearchTerm()" >&#10005;</span>
    </div>
    <div class="header-container" [class.with-chart]="settingsService.showCharts" [class.with-position]="settingsService.showPositions">
        <div *ngFor="let header of headers">
            <strong>{{ header }}</strong>
        </div>
    </div>
    <app-asset *ngFor="let asset of assets" [asset]="asset"></app-asset>
</div>