/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.asset-container, .header-container {
  padding: 1rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > * {
    width: 5rem;
  }
  
  > *:first-child {
    width: 12.5rem;
  }

  > *:not(:first-child) {
    text-align: right;
  }

}

.with-chart > *:nth-child(2) {
  text-align: left;
  width: 25rem;
}

app-asset:nth-of-type(odd) > * {
  background-color: #F0F0F0;
}

// angular cdk - drag and drop

// angular cdk - drag and drop - indicator headers

.cdk-drop-list-dragging .indicator-header {
  border-left: lightgray 1px solid;
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.indicator-header.cdk-drag-preview,
.indicator-header.cdk-drag-dragging {
  display: none;
}
